@model Invoice
@{
    ViewBag.Title = "Fatura Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header mt-3 ml-3">
        <h4>
            <i class="fas fa-file-invoice"></i> @Model.InvoiceCode No'lu @(string.Concat(Model.Customer?.FirstName, " ", Model.Customer?.LastName)) Müşterinin Faturasına Ürün Ekle
        </h4>
    </div>
    <div class="card-body">

        <div id="modalPlaceHolder" aria-hidden="true"></div>


        <form id="invoiceAddForm" asp-controller="Invoice" asp-action="AddInvoiceStock" method="post">


            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="alert alert-danger" asp-validation-summary="All"></div>
            }

            <input type="hidden" name="invoiceId" value="@Model.Id"/>


            <div class="form-group fieldGroup">
                <div class="input-group">
                    <select name="StockId" id="stockList1" class="form-control">
                        <option selected="selected">Lütfen bir ürün seçiniz.</option>
                    </select>
                    <input name="StockAnyDetail" class="form-control" placeholder="Metre / Metrekare / Ton / Adet" />
                    <div class="input-group-addon">
                        <a href="javascript:void(0)" class="btn btn-success addMore"><span class="glyphicon glyphicon glyphicon-plus" aria-hidden="true"></span> Ekle</a>
                    </div>
                </div>
            </div>

            <!-- copy of input fields group -->
            <div class="form-group fieldGroupCopy" style="display: none;">
                <div class="input-group">
                    <select class="form-control">
                        <option selected="selected">Lütfen bir ürün seçiniz.</option>
                    </select>
                    <input class="form-control" placeholder="Metre / Metrekare / Ton / Adet" />
                    <div class="input-group-addon">
                        <a href="javascript:void(0)" class="btn btn-danger remove"><span class="glyphicon glyphicon glyphicon-remove" aria-hidden="true"></span> Kaldır</a>
                    </div>
                </div>
            </div>

            


            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-block btn-lg text-white" id="btnAddInvoice" data-invoiceId="@Model.Id">
                        <i class="fas fa-plus-circle"></i> Ekle
                    </button>
                </div>
                <div class="col-md-6">
                    <button asp-area="Admin" asp-controller="Invoice" asp-action="Index" class="btn btn-danger btn-block btn-lg">
                        <i class="fas fa-times-circle"></i> Vazgeç
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>



@section Css
    {
    <link href="~/assets/vendors/select2/select2.css" rel="stylesheet">
    <link href="~/node_modules/sweetalert2/dist/sweetalert2.css" rel="stylesheet" />
    }

@section Scripts
    {
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/node_modules/sweetalert2/dist/sweetalert2.min.js"></script>
    <script src="~/js/invoiceSelectProduct.js"></script>
    }
