@model Note
@{
    ViewData["Title"] = $"{Model.NoteTitle} Notunu Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header mt-3 ml-3">
        <h4>
            <i class="fas fa-undo"></i> @($"{Model.NoteTitle} Notunu Güncelle")
        </h4>
    </div>
    <div class="card-body">
        <form asp-controller="Note" asp-action="Update" method="post">


            @if (ViewData.ModelState.ErrorCount > 0)
            {
                <div class="alert alert-danger" asp-validation-summary="All">
                </div>
            }
            
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="AppUserId" />
            <input type="hidden" asp-for="CreatedByName" />
            <input type="hidden" asp-for="CreatedDate" />

            <div class="form-group">
                <label>Müşteriler</label><br />
                <select asp-for="CustomerId" asp-items="@ViewBag.CustomerList" id="customerList" class="form-control-plaintext">
                    <option selected="selected">Lütfen bir müşteri seçiniz.</option>
                </select>
                <span asp-validation-for="CustomerId"></span>
            </div>
            <div class="form-group">
                <label>Not Başlığı</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="anticon anticon-file-text"></i>
                        </span>
                    </div>
                    <input asp-for="NoteTitle" class="form-control" placeholder="Not başlığını giriniz">
                </div>
            </div>
            <div class="form-group">
                <label class="mb-2">Açıklama</label>
                <textarea asp-for="NoteDescription" class="form-control" placeholder="Not başlığını giriniz" id="editor"></textarea>
            </div>
            <div class="row mt-4">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        <i class="fas fa-undo"></i> Güncelle
                    </button>
                </div>
                <div class="col-md-6">
                    <a asp-area="Admin" asp-controller="Note" asp-action="Index" class="btn btn-danger btn-block btn-lg">
                        <i class="fas fa-times-circle"></i> Vazgeç
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Css
    {
    <link href="~/assets/vendors/select2/select2.css" rel="stylesheet">
}

    @section Scripts
    {
    <script src="~/assets/vendors/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/vendors/ckeditor/ckeditor.js"></script>
    <script src="~/js/noteAdd.js"></script>
    }
