@model LoginViewModel
@{
    ViewData["Title"] = "Yönetici Girişi";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div class="d-flex align-items-center justify-content-between m-b-30">
    <img class="img-fluid" alt="" src="~/img/logo/miniLogo.png">
    <h2 class="m-b-0">
        <i class="anticon anticon-monitor"></i> Yönetici Paneli
    </h2>
</div>
<form asp-area="User" asp-controller="Login" asp-action="GirisYap">

    @if (ViewData.ModelState.ErrorCount > 0)
    {
        <div class="form-group alert alert-danger" asp-validation-summary="All"></div>
    }

    <div class="form-group">
        <label class="font-weight-semibold" for="userName">E-posta :</label>
        <div class="input-affix">
            <i class="prefix-icon anticon anticon-user"></i>
            <input type="email" class="form-control" placeholder="E-posta" asp-for="Email">
        </div>
    </div>
    <div class="form-group">
        <label class="font-weight-semibold" for="password">Şifre :</label>
        <a class="float-right font-size-13 text-muted" href="">Şifreni mi unuttun ?</a>
        <div class="input-affix m-b-10">
            <i class="prefix-icon anticon anticon-lock"></i>
            <input type="password" class="form-control" asp-for="Password" placeholder="Şifre">
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox mb-2">
            <input class="form-check-input" type="checkbox" id="autoSizingCheck" asp-for="RememberMe">
            <label class="form-check-label" for="autoSizingCheck">
                Beni Hatırla
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="d-flex align-items-center justify-content-between">
            <button class="btn btn-primary">Giriş Yap</button>
        </div>
    </div>
</form>

