<footer class="footer">
    <div class="footer-content">
        <p class="m-b-0">Tüm Hakları Sakldır. tosunlaryapi.net© @DateTime.Now.Year</p>
        <p>Oluşturan: <a class="text-link" href="https://www.serdeha.com/" target="_blank">Serdeha</a></p>
    </div>
</footer>